body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f0f2f5;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(50% - 10px);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.card h2 {
    color: #0056b3;
}

.card p {
    color: #666;
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}

.sop-detail {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 800px;
}

.sop-detail h2 {
    color: #0056b3;
}

.sop-detail p {
    color: #666;
    line-height: 1.6;
}

.back-button,
button {
    display: inline-block;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.back-button:hover,
button:hover {
    background-color: #0056b3;
}